---
- name: Configure DataPower settings in datapower.conf
  ansible.builtin.lineinfile:
    path: /opt/ibm/datapower/datapower.conf
    line: "{{ item }}"
    create: yes # Create the file if it doesn't already exist
    state: present
    owner: root
    group: root
    mode: '0644'
  loop:
    - DataPowerConfigDir=/datapower/config
    - DataPowerLocalDir=/datapower/local
    - DataPowerImageSize={{ image_size }}
    - DataPowerRaidDevice={{ raid_device }}
    - DataPowerAcceptLicense=true
  become: true

- name: Create directories /datapower/config and /datapower/local
  ansible.builtin.file:
    path: "{{ item }}"
    state: directory # This tells Ansible to create a directory
    owner: root
    group: root
    mode: '0755' # Standard permissions: read/write/execute for owner, read/execute for group/others
  loop:
    - /datapower/config
    - /datapower/local
  become: true
