---
- name: Enable CodeReady Builder Repository using ansible_architecture fact
  ansible.builtin.command: subscription-manager repos --enable "codeready-builder-for-rhel-8-{{ ansible_architecture }}-rpms"